{"mysqlUrl":"jdbc:mysql://127.0.0.1:3306/test?useSSL=false&useUnicode=true&characterEncoding=utf-8&allowMultiQueries=true&serverTimezone=Asia/Shanghai","mysqlUser":"root","mysqlPwd":"11223344","entityTargetPackage":"com.joto.entity","serviceTargetPackage":"com.joto.service","targetProject":"E:\\test","author":"joey","tables":"cloud_computer;test_demo","domains":"CloudComputer;TestDemo"}